@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
   /*height: 100%;*/
}

body {
background-image: linear-gradient(to right, #F5DF9F 10%, #D9BC8D, #D9B08D, #D9A38D 90%);
}

main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #826255ae;
    width: 600px;
    padding: 1%;
    margin: auto;
}

h1 { 
    color: #D9A38D;
    text-align: center;
    text-shadow: 1px 1px 2px #6f5449c0;
}
h2 {
    color: #D9B08D;
}
p{
    text-align: justify;
}

